# api
fastapi==0.115.2
uvicorn==0.31.1
requests==2.32.3

python-dotenv==1.0.1
langchain
langchain-community
langchain-openai==0.3.8
tiktoken==0.8.0
faiss-cpu==1.8.0.post1
aiofiles==24.1.0
httpx==0.27.0
openai==1.58.1

# webserver
django==5.1.2
django-cors-headers==4.5.0

# telegram
python-telegram-bot==21.6
python-telegram-bot[job-queue]
